body {
    background-color: #3c6e71; 
    text-align: center;
    h1 {
        color: white;
        font-size: 36pt;
    }

    p {
        color: white;
        font-size: 18pt;
    }
        
    a {
        font-size: 18pt;
        color: #353535;
    }
    pre {
        color: white;
        font-size: 18pt;
        font-family: 'Times New Roman', Times, serif;
    }
}

.container {
    display: flex;
    justify-content: center;
    text-align: left;
}