body {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers the blocks themselves */
    margin: 0;
    padding: 2rem;
    background-color: #3c6e71; 

    h1 {
        color: white;
        font-size: 36pt;
    }

    p {
        color: white;
        font-size: clamp(12px, 3vw, 24px);
    }
        
    a {
        font-size: 18pt;
        color: #353535;
    }
    pre {
        color: white;
        font-size: 18pt;
        font-family: 'Times New Roman', Times, serif;
        font-size: clamp(12px, 3vw, 24px);
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

.poem-container {
    white-space: pre-wrap;   /* keep line breaks you define */
    text-align: left;        /* lines align vertically */
    margin-left: 3rem auto;
    padding: 2rem auto;       /* center block on page */
}

.prose-container {
    text-align: left;        /* normal flowing text */
    margin: 1rem auto;
    max-width: 90ch;
}