body {
    background-color: #3c6e71;
    text-align: center;
    color: white;
    h1 {
        font-size: 36pt;
    }

    p {
        font-size: 18pt;
    }

    a {
        font-size: 18pt;
        color: #353535;
    }
}

.list-container {
    border-color:#353535;
    border-style: double;
    text-align: center;        /* normal flowing text */
    margin: 2rem auto;
    max-width: 60ch;
    padding:10%;
}
